.create-post-container {
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: #fff;
    border-radius: 0;
    /* position: absolute; */
    /* margin: 30px; */
    box-sizing: border-box;

    padding: 25px;
    /* background: red; */
}

.input-container {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    align-items: center;
    margin: 10px;
    /* width:820px */
}

.input-container label {
    margin-left: 20px;
    grid-column: 1/2;

}
.input-container input {
    grid-column: 2/5;
    justify-content: center;
    border-radius: 5px;
    font-size: 18px;
    /* padding: 7px 8px; */
    box-sizing: border-box;
    height: 40px;
    width: 400px;
    text-align: center;
    margin: 3px 0;
    border:1px solid black;
    font-family: 'Varela Round', sans-serif;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.bottom-button {
    display: flex;
    justify-content: space-evenly;
}
