.home-page-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
}

.posts-list {
    margin-right: 20%;
    margin-top: 19px;
}

.suggested-devs-to-hire-message {
    text-align: center;
    font-size: 22px;
}

.suggested-hire-wrapper {
    border: 1px solid rgba(157, 157, 157, 0.752);
    position: fixed;
    /* margin-top: 100px; */
    top: 90px;
    /* width: 350px; */
    height: 460px;
    border-radius: 4px;
    padding: 10px;
    /* z-index: 3; */
    bottom: 80%;
    /* margin-right: 50px; */
    /* top: 200px; */
    /* left: 80%; */
    left: 65%;
}

@media screen and (max-width:1100px) {
    .suggested-hire-wrapper {
        position: absolute;
        width: 470px;
        left: auto;
        display: flex;
        /* left: 23vw; */
        /* right: auto; */
        justify-content: center;
        flex-direction: column;
        width: auto;
    }

    .suggested-hire-outer-wrapper {
        display: flex;
        justify-content: center;
    }

    .suggested-hire-list {
        width: 450px;
    }

    .posts-list {
        margin-top: 550px;
        margin-right: 0;
    }
}

.dev-name {
    width: 150px;
    font-size: 14px;
    text-align: left;
    margin-bottom: 4px;
    font-weight: bold;
}

.suggested-hire-list {
    /* margin: 2px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    border-top: 1px solid rgba(157, 157, 157, 0.752);
}

.dev-profile-pic {
    width: 60px;
    height: 60px;
    margin-right: 14px;
    margin-left: 4px;
    /* border: 1px solid black; */
    border-radius: 50%;
}


.suggested-hire-list-item {
    /* width: 300px; */
    display: flex;
    justify-content: flex-end;
    align-items: center;

    /* height: 100px; */
}

.suggested-hire-linkedin-img {
    width: 90px;
    height: 60px;
}

.suggested-hire-github-img {
    width: 40px;
    height: 40px;
}

.post-wrapper {
    border: 1px solid rgba(157, 157, 157, 0.752);
    border-radius: 4px;
    width: 470px;
    height: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.post-header-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

.post-header-username {
    margin-left: 10px;
    text-decoration: none;
    color: black;
    font-weight: 640;
}

.post-body-description {
    margin-left: 10px;
    font-weight: 400;

}

.post-body-username-description-wrapper {
    padding: 0px 12px;
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
    font-size: 14px;
    word-wrap: break-word;
}

.post-body-username-description-wrapper p{
    margin:0;

}

.post-body-like-comment-icons {
    display: flex;
    flex-direction: row;
    margin-top: 4px;
    padding: 0px 12px 6px 12px;
    height: 46px;
    box-sizing: border-box;
}

.like-button-icon {
    padding: 8px;
}

.comment-button-icon {
    padding: 8px;
}

.post-like-counter {
    padding: 0px 12px;
    margin-bottom: 8px;

}

.post-like-counter-wrapper {
    padding-left: 12px;
    padding-top: 0px;
    height: 18px;
    margin-bottom: 8px;
    font-size: 14px;
}

.post-like-counter-wrapper p{
    margin-top:0px;
    margin-bottom:0px;
    font-weight: 600;
}

.post-body-comments {
    padding-left: 6px;
}



.post-body-comments-wrapper {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 4px 16px 4px 12px;
    border-top: 1px solid #d7d7d7;
}

.post-body-comments-wrapper form{
    display: flex;
    height: 100%;
    margin: 0px;
    position: relative;
    /* align-items: center; */
}

.post-body-comments-wrapper .comment-content-box{
    width: 100%;
    height: 100%;
    margin: 0;
}

.post-body-comments-wrapper textarea{
    resize: none;
    width: 370px;
    height: 40px;
    border:none;
    margin: 0px 6px;
    line-height:40px;
    font-size: 14px;
    overflow-y: auto;
}

.post-body-comments-wrapper button{
    border: none;
    background: none;
    font-size: 15px;
    color:#0095f6;
    font-weight: 600;
    margin-right: 6px;
}

.comment-emoj-icon {
    position: relative;
    display: flex;
    align-items: center;
    width: 455px;
    height: 100%;
}
.comment-emoj-icon .emoji-button{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
}

.EmojiPickerReact .Flex.epr-preview.FlexRow{
    height:50px;
  }

.home-page-comment-form {
    position: relative;
    display: flex;
    flex-direction: column;

}

.comment-content-box form{
    margin-top: 0;
    margin-bottom: 0;
}
/* .EmojiPickerReact{
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 200ms ease-out;
    z-index: 3;

} */





.post-wrapper .post-img{
    height: 470px;
    width: 470px;
}

.post-wrapper .post-img img{
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.view-comment-counter p{
    color: #8e8e8e;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
}
