/* .demo-button-div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: none;
  width: 300px;
  height: 70px;
  padding: 0px;
  margin: 0px;
  border: 1px solid white;
  border-top: 0px;
  background-color: rgb(0, 0, 0, .90);
  box-shadow: 0 0 20px 1px #ffffff, 0 0 0 #000000;
}

.footer-div {
  width: 100%;
}

.login-form-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: none;
  border-radius: 0%;
  background-color: black;


}



#modal-background {
  background-color: rgb(0, 0, 0, .7);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  min-width: 200px;
  border-bottom: none;
}

.required-aster-text {
  font-size: 10.2px;
  padding: 5px;
  color: rgb(126, 0, 0);
  width: 150px;
  margin-left: 5px;
  margin-right: 5px;
}

li {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  color: white;
}


.profile-dropdown {
  margin-left: 10px;
} */

.each-fade {
  margin-left: 155px;
  margin-top: 25px;
}

svg {
  display: none;
}

.login-form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(157, 157, 157, 0.752);
  border-radius: 0.5%;
  height: 500px;
  width: 350px;
  min-width: 350px;
  padding-top: 5%;
  padding-bottom: 5%;
  /* margin: 0px; */
  /* padding: 0px; */
  /* align-items: center; */
}

.login-form-container-div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: inherit;
  /* padding-top: 400px; */
  /* padding-bottom: 400px; */
  height: 100vh;
  /* margin-top: 35%;
  margin-bottom: 35%; */
  flex-direction: column;
}

.login-form-whole-container {
  margin-left: 450px;
}

.signup-button-loginform-container {
  border: 1px solid rgba(157, 157, 157, 0.752);
  display: flex;
  border-radius: 2px;
  justify-content: center;
  align-items: center;
  height: 63px;
  width: 350px;

  font-size: 14px;
}

.signup-link-login-form {
  text-decoration: none;
  color: #0095f6;
  font-weight: 600;
  font-size: 14px;
}

@media screen and (max-width:1550px) {
  .iphone-carousel-div {
    display: none;
  }

  .login-form-whole-container {
    margin-left: 0px;
  }
}



.login-button {
  color: white;
  background-color: #0095f6;
  border: none;
  border-radius: 4px;
  font-weight: 550;
  font-size: 14px;
  width: 268px;
  height: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 9px;
  padding-right: 9px;
  margin-top: 6px;
  cursor: pointer;
}

.outstagram-logo-text {
  margin-bottom: 50px;
  width: 60%;
  /* position: fixed;
  top: 430px; */
  /* top: 0px; */
}

.input-label-div {
  padding-top: 5px;
}

.show-password-button {
  /* position: fixed; */
  position: relative;
  top: 9px;
  background-color: transparent;
  font-weight: 550;
  z-index: 1;
  cursor: pointer;
  border: none;
  padding: none;
  left: 2px;

  /* margin-left: 218px; */
  /* margin-top: 45px; */
  /* margin-right: 2px; */
  /* padding-top: 6px; */
  /* padding-bottom: 6px; */

}

/* .login-button:hover {
  cursor: pointer;
} */

.input-wrapper-div {
  width: 268px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid rgba(157, 157, 157, 0.752);
  height: 38px;
}

input {
  width: 210px;
  border: none;
  /* min-width: 258px; */
  max-width: 258px;
  /* padding-top: 18px; */
  /* padding-bottom: 4px; */
  padding-left: 5px;
  margin-top: 0px;
  /* margin-bottom: 8px; */
  border-radius: 2px;
  /* outline: auto; */
}

.iphone-carousel-div {
  background-image: url(https://www.instagram.com/static/images/homepage/phones/home-phones.png/1dc085cdb87d.png);
  background-position-x: left;
  background-position-y: top;
  background-repeat: no-repeat;
}

form {
  margin-top: 24px;
  margin-bottom: 24px;
}

.password-form-label {
  font-size: 10px;
  margin-left: 4px;
  color: rgba(124, 124, 124, 0.752);
}

label {
  padding-bottom: 0px;
}

.text-div-sign-up {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 210px;
  text-align: center;
  margin-bottom: 20px;
  color: #909090;
  font-size: 17px;
  font-weight: 600;
}
