.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: .5px solid black;
    height: 60px;
}

.div-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
}

.child-divs{
    margin: 20px 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 40px;
    background-color: #f9f9f9;
    width: 110px;
    padding: 12px 16px;
    z-index: 1;
    border: .5px black solid;
    border-radius: 4px;
    right: 45px;
  }

  .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #cccccc;
  }

  .logOutButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    background-color: white;
    color: black;
    border: none;
    border-radius: 2px;
    margin: 8px 0;
  }
