nav {
  display: flex;
  position: sticky;
  top: 0;
  background-color: white;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid rgba(157, 157, 157, 0.752);
  width: 100vw;
  height: 50px;
  z-index: 99;
}


.div-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  margin-right: 250px;
  width: 50%;

}

.child-divs {
  margin: 20px 5px;
}

.logOutButton {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 80%;
  background: none;
  color: #70887d;
  /* background-color: white; */
  border: none;
  border-radius: 2px;
  margin: 8px 0;

}
