.post-detail-container {
    display: flex;
    width: 1000px;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;


}

.post-detail-post-info-container {
    padding-left: 20px;
    width: 500px;


}

.post-detail-post-image {
    width: 100%;
    height: 100%;
}

.post-detail-post-image-top,
.post-detail-post-image-bottom {
    width: 500px;
    height: 100px;
    background-color: white;
}

.post-detail-post-user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post-detail-user-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
}

.post-detail-post-username {
    font-weight: bold;
}

.post-detail-post-info-first-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding: 20px 0;
    margin-bottom: 10px;


}

.post-detail-buttons button {
    margin: 0 10px;
}

.post-detail-post-info-second-container {
    display: flex;
    flex-direction: row;

}


.post-detail-post-comments {
    height: 45%;
    overflow-y: auto;
}


.post-liked {
    background-color: pink;
}

.post-unliked {
    background-color: gray;
}
